# Git, GitHub and VScode
.git
.githooks
.github
.vscode
.gitignore

# Rust build dir
target

# Random git stuff
LICENSE
README.md
.gitignore

# Docker
.dockerignore
docker-compose.yml
Dockerfile

# Fly stuff
fly.toml

# mprocs
mprocs.yaml
