@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";
@plugin "tailwind-scrollbar";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Inter",
    "ui-sans-serif",
    "system-ui",
    "sans-serif",
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";

  --color-dark: rgb(21, 26, 33);
  --color-paper-dark: rgb(29, 36, 46);

  --color-light: rgb(255, 255, 255);
  --color-paper-light: rgb(246, 247, 248);
  
  --color-primary: oklch(0.64 0.1961 278.34);
  --color-primary-light: oklch(0.75 0.1269 277.46);
  --color-primary-dark: oklch(0.58 0.2346 278.29);

  --color-secondary: oklch(0.87 0.0176 248.03);
  --color-secondary-light: oklch(0.72 0.0129 248.01);
  --color-secondary-dark: oklch(0.52 0.0172 251.29);
}
